{% extends "layout.html" %}

{% block head_content %}
  <!-- CSS -->
    <style>
       .imagem-esquerda {
        float: left;
        margin-right: 150px;
        width: 250px; /* Defina o tamanho desejado para a imagem */
       }
        .pacientes_table th {
          background-color: #a9cf3c;
          position: sticky;
          top: 0;
        }
        .table-container {
          max-height: 400px;
          overflow-y: auto;
        }
      
        .custom-button {
          background-color: #a9cf3c;
          border-color: #a9cf3c;
        }
          /* Estilize o rótulo (label) */
          label {
          font-weight: bold;
          font-size: 18px;
          color: #333; /* cor do texto */
        }
      
        /* Estilize o select (lista de opções) */
        select {
          width: 100%; /* largura do elemento */
          padding: 10px; /* espaço interno */
          font-size: 16px;
          border: 1px solid #ccc; /* borda */
          border-radius: 5px; /* bordas arredondadas */
          background-color: #f7f7f7; /* cor de fundo */
        }
      
        /* Estilize as opções dentro do select */
        option {
          font-size: 16px;
          color: #333; /* cor do texto */
        }
        /* Style for the custom-div */
      .custom-div {
        max-width: 400px; /* Adjust this value based on your design */
        padding: 20px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      /* Style for the label */
      .custom-div label {
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      /* Style for the input file */
      .custom-div .form-control-file {
        width: 100%;
        padding: 5px;
      }
      
      /* Additional style for the input file when focused */
      .custom-div .form-control-file:focus {
        outline: none;
        box-shadow: 0 0 5px #007bff; /* Change color as per your design */
      }  

        .btn.btn-primary {
          background-color: #a9cf3c;
          border: 2px solid #a9cf3c;
        }
          /* Estilos para o botão "Cadastrar" */
    .cadastrar-button {
      background-color: #a9cf3c;
      border-color: #a9cf3c;
      color: #fff;
      transition: background-color 0.3s;
    }

    .cadastrar-button:hover {
      background-color: #92b633;
      border-color: #92b633;
      color: #fff;
    }

    /* Estilos para o botão "Cancelar" */
    .cancelar-button {
      background-color: #a9cf3c;
      border-color: #a9cf3c;
      color: #fff;
      transition: background-color 0.3s;
    }

    .cancelar-button:hover {
      background-color: #92b633;
      border-color: #92b633;
      color: #fff;
    }

    /* Posicionamento dos botões */
    .custom-button-container {
      display: flex;
      justify-content: space-between;
    }
    </style>

  <!-- SCRIPTS -->

    <!-- SCRIPT PARA RESGATAR OS PARAMETROS NA URL -->
      <script>
        window.onload = function() {
            const queryParams = new URLSearchParams(window.location.search);
            const nome = queryParams.get("nome");
            const cpf = queryParams.get("cpf");
            const especialidade = queryParams.get("especialidade");
            const profissional_responsavel = queryParams.get("profissional_responsavel");
            const data_inicio = queryParams.get("data_inicio");
            const data_fim = queryParams.get("data_fim");


            document.getElementById("nome").value = nome;
            document.getElementById("cpf").value = cpf;
            document.getElementById("especialidade").value = especialidade;
            document.getElementById("profissional_responsavel").value = profissional_responsavel;
            document.getElementById("data_inicio").value = data_inicio;
            document.getElementById("data_fim").value = data_fim;
        };
      </script>

{% endblock %}

{% block body_content %}
<br>
<div style="display: flex; align-items: center;">
  <img class="imagem-esquerda" src="https://ciasaude.s3.amazonaws.com/LOGO+CIA+.jpg" alt="Logo da CIA Saúde">
  <h3>Editar Tratamentos</h3>
</div>
<br>

<!-- FORMULARIO -->
<form method="POST">

    <!-- CAMPO: NOME -->
    <div class="form-group">
      <label for="cpf">Nome</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        required
        disabled
        />
    </div>

    <!-- CAMPO: CPF -->
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        name="cpf"
        required
        disabled
        />
    </div>

    <!-- CAMPO: ESPECIALIDADE -->
    <div class="form-group">
      <label for="especialidade">Especialidade</label>
      <input
        type="text"
        class="form-control"
        id="especialidade"
        name="especialidade"
        placeholder="Insira a especialidade"
        required
        disabled
      />
    </div>
    
    <!-- CAMPO: PROFISSIONAL RESPONSAVEL -->
    <div class="form-group">
      <label for="profissional_responsavel">Profissional Responsável</label>
      <input
        type="text"
        class="form-control"
        id="profissional_responsavel"
        name="profissional_responsavel"
        placeholder="Insira a especialidade"
        required
        disabled
      />
    </div>

    <!-- LINHA: DATA INICIO, DATA FIM -->
    <div class="row">

      <div class="col-sm">
        <div class="form-group">
          <label for="data_inicio">Data inicio</label>
          <input
          type="date"
          class="form-control"
          id="data_inicio"
          name="data_inicio"
          required
          disabled
          />
        </div>
      </div>
      
      <div class="col-sm">
        <div class="form-group">
          <label for="data_fim">Data fim</label>
          <input
          type="date"
          class="form-control"
          id="data_fim"
          name="data_fim"
          />
        </div>
      </div>
      
      
    </div>
    
    <br>

    <!-- BOTOES: CADASTRAR, CANCELAR -->
    <div class="col-sm custom-button-container">
      <a href="/consulta-pacientes" class="btn btn-primary custom-button cancelar-button">Cancelar</a>
      <button type="submit" class="btn btn-primary custom-button cadastrar-button">Salvar</button>
    </div>  
    
</form>
{% endblock %}